<link href="stylesheets/style_index.css" rel="stylesheet" type="text/css">

<body>
    


    <div class="banner-text">
        <h2>GUITARS & MORE</h2>
        <H1>GO TO PLAY <span>MUSIC</span></H1>
        <div>
            <a href="/home" class="button1">EXPLORE</a>
            <a href="/productos" class="button2">PLAY NOW</a>
        </div>
    </div>
</body>

</html>