<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/style_index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b40ad6241.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>GUITAR SHOP</title>
</head>
  </head>
  <body>
<header>
        <h1>GUITAR SHOP</h1>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <!--<li><a class="active" href="#">Inicio</a></li>-->
                <li><a href="/index" class="nav-enlace">Index</a></li>
                <li><a href="/home" class="nav-enlace">Home</a></li>
                <li><a href="/productos" class="nav-enlace">Destacados</a></li>
                <li><a href="/galeria" class="nav-enlace">Galeria</a></li>
                <li><a href="/contacto" class="nav-enlace">Contacto</a></li>
                <li><a href="/formularios_registro" class="nav-enlace">Registrate</a></li>
            </ul>
        </nav>
        <div class="banner-text">
            <h2>GUITARS & MORE</h2>
            <H1>GO TO PLAY <span>MUSIC</span></H1>
            <div>
                <a href="home.html" class="button1">EXPLORE</a>
                <a href="productos.html" class="button2">PLAY NOW</a>
            </div>
        </div>

      <main class="holder">
        {{{body}}}
      </main>
        
  </body>
</html>
