<link href="stylesheets/style-novedades.css" rel="stylesheet" type="text/css">


<h2>Novedades</h2>
{{#each novedades}}
<div>
    <h3>Titulo: {{titulo}}</h3>
    <h4>Subtitulo {{subtitulo}}</h4>
    <p>{{cuerpo}}</p>
    <hr />
</div>
{{/each}}