* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(/images/peakpx.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

h1 {
    font-size: 70px;
    margin-left: 5px;
    text-align: left;
}

h3{
    font-size: 20px;
    font-weight: bold;
}
h4{
    font-size: 15px;
    font-weight: lighter;
}



/*Menu desplegable*/
nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-btn {
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    margin-left: 6px;

}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgb(0, 0, 0);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0 0 0;
    transition: all .5s;
}

.nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: red;
    transition: .3s;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block
}

.banner-text {
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: #fff;
}

.banner-text h1 {
    font-size: 50px;
    font-weight: 2000;
    margin-bottom: 30px;
}

.banner-text span {
    color: red;
}

.banner-text h2 {
    font-size: 16px;
    font-weight: 600;
}

/*Textos e Imagenes*/

h2 {

    font-weight: lighter;
    font-size: 23px;
    color: white;
    text-align: center;
    padding: 10px;
}



span {
    font-size: 40px;
    color: red;
    text-align: center;
    padding: 10px;
}


img {
    box-sizing: border-box;
    border-radius: 30px;
    width: 5px;
}

/*Footer y pie de pagina*/

footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

footer .principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 1900px;
    font-size: 18px;
    text-align: center;
}

footer .text {
    display: flex;
    flex-direction: column;
    justify-content: c;
    align-items: center;
}

footer .principal div {
    margin: 10px;
    padding: 5px;
    max-width: 250px;
}

footer .principal .text img {
    width: 250px;
}

footer .social-media-menu ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .social-media-menu ul li {
    font-size: 50px;
    padding: 15px;
    list-style: none;
    /*sacamos las viñetas de la lista*/
}


footer .links h3 {
    text-align: center;
}

footer .links ul {
    padding: 0px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .links ul li {
    font-size: 1.1em;
    padding: 15px;
    list-style: none;
    /*sacamos las viñetas de la lista*/
}

footer .links ul li a :hover {
    background-color: #1d1d1d;
    cursor: pointer;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

.contact {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

.contact .fixed-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d91;
    padding: 15px;
    border-radius: 100%;
    margin: 10px;
}

.contact .fixed-wp {
    background-color: #1d1d1d91;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 100%;
    margin: 10px;
    text-align: center;
}

.contact a i {
    font-size: 50px;
    color: white;
}


@media(max-width: 768px) {


    h1 {
        font-size: 50px;
        text-align: center;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 25px 0px 0px 0px;
    }

    p {
        font-size: 7px;
    }

    img {
        box-sizing: border-box;
    }

    .nav-menu {
        position: fixed;
        z-index: 50;
        width: 100%;
        height: 0vh;
        top: 100px;
        background: rgb(0, 0, 0);
        text-align: center;
        transition: all .5s;
    }
}





@media(max-width: 320px) {

    h1 {
        font-size: 40px;
        text-align: center;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 25px 0px 0px 0px;
    }

    p {
        font-size: 7px;
    }
}



@media screen and (min-width: 768px) {
    nav {
        height: 100px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: center;
        margin: right 50px;
    }

    .nav-menu li {
        display: inline-flex;
        line-height: 100px;
        margin: 0 20px;
        transition: none;
    }

    .nav-menu li a {
        font-size: 16px;
    }

    .banner-text h2 {
        font-size: 20px;
    }
}