*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
  }

  body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/images/home.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: white;
    margin-bottom: 565px;
  }
  .carousel{
    width: 60%;
    margin-left: 20%;
  }

  h1{
   
    margin-left: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif; 
  }

  /*Menu desplegable*/
  nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bar-btn{
    font-size:25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    margin-left:6px;
  
  }
  .nav-menu{
    position:fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgb(0, 0, 0);
    text-align: center;
    transition:all .5s;
  }

  a.nav-enlace{
    text-decoration: none;
  }
  a.active{
    text-decoration: none;
  }
  
  .nav-menu li{
    display: none;
    line-height:30px;
    margin: 50px 0 0 0;
    transition:all .5s;
  }
  
  .nav-menu li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight:600;
  }
  
  .nav-menu li a.active, .nav-menu li a:hover{
    color: red;
    transition: .3s;
  }
  
  #check{
    display: none;
  }
  
  #check:checked ~ .nav-menu{
    height: 100vh;
  }
  
  #check:checked ~ .nav-menu li{
    display: block
  }
  
  .banner-text{
    padding:0 30px;
    margin-top: 150px;
    text-align: center;
    color: #fff;
  }
  
  .banner-text h1{
    font-size: 50px;
    font-weight: 2000;
    margin-bottom: 30px;
  }
  
  .banner-text span{
    color: red;
  }
  .banner-text h2{
    font-size: 16px;
    font-weight:600;
  }
  
  .dropdown-toggle{
    color: #fff;
    background-color: rgba(255, 0, 0, 0.473);
    margin: 20px;
  }
 div.accordion-flush{
   margin: 25px;
   
 }

  @media screen and (min-width: 768px) {
    nav{
        height: 100px;
    }
    .bar-btn{
        display: none;
    }
  
    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align:center;
        margin: right 50px;
    }
  
    .nav-menu li {
        display: inline-flex;
        line-height:100px;
        margin: 0 20px;
        transition:none;
    }
  
    .nav-menu li a {
        font-size:16px;
    }
  
    .banner-text h2{
        font-size:20px;
    }
  }

  footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-bottom: 15px;
    }
  
  footer .principal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    max-width: 1900px;
    font-size: 18px;
    text-align: center;
    }
  
  footer .text{
    display: flex;
    flex-direction: column;
    justify-content: c;
    align-items: center;
  }
  
  footer .principal div{
    margin: 10px;
    padding: 5px;
    max-width: 250px;
  }
  
  footer .principal .text img{
    width: 250px;
  }
  
  footer .social-media-menu ul{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  footer .social-media-menu ul li{
    font-size: 50px;
    padding: 15px;
    list-style:none; /*sacamos las viñetas de la lista*/
  }
  
  
  footer .links h3{
    text-align: center;
  }
  
  footer .links ul{
    padding: 0px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer .links ul li{
    font-size: 1.1em;
    padding: 15px;
    list-style:none;/*sacamos las viñetas de la lista*/
  }
  
  footer .links ul li a :hover {
    background-color : #1d1d1d;
    cursor:pointer;
  }
  
  footer ul li a{
    color: white;
    text-decoration: none;
  }
  
  .contact {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
  }
  
  .contact .fixed-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d91;
    padding: 15px;
    border-radius: 100%;
    margin: 10px;
  }
  
  .contact .fixed-wp {
    background-color: #1d1d1d91;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 100%;
    margin: 10px;
    text-align: center;
  }
  
  .contact a i{
    font-size: 50px;
    color: white;
  }